---
"on": [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Run install
        uses: borales/action-yarn@v4
        with:
          cmd: install

      - name: Build
        uses: borales/action-yarn@v4
        with:
          cmd: build:prod

      - name: Test the app
        uses: action/borales-yarn@v4
        with:
          cmd: test
