---

"on": [push]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
          dir: app

      - name: Build
        uses: borales/actions-yarn@v4
        with:
          cmd: build:prod
          dir: app

      - name: Test the app
        working-directory: ./app
        run: |
          mkdir -p /tmp/todos
          yarn test
