name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: 'app/yarn.lock'
      
      - name: Install and test
        working-directory: ./app
        run: |
          yarn install --frozen-lockfile
          mkdir -p /tmp/todos
          yarn test
