name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Create database directory
        run: mkdir -p /tmp/todos

      - name: Install dependencies
        uses: borales/actions-yarn@v4
        with:
          cmd: install
          dir: app

      - name: Build
        uses: borales/actions-yarn@v4
        with:
          cmd: build  # или build:prod в зависимости от package.json
          dir: app

      - name: Run tests
        uses: borales/actions-yarn@v4
        with:
          cmd: test
          dir: app
