---
"on": [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        working-directory: ./app
        run: |
          npm install  # или yarn install

      - name: Build
        working-directory: ./app
        run: |
          npm run build

      - name: Test the app
        working-directory: ./app
        run: |
          mkdir -p /tmp/todos
          npm test
